
@{
    ViewBag.Title = "BadRequest";
}
    <div class="text-center text-danger">
        <h1 style="font-size:70px">Bad Request</h1>
        <span class="fa fa-exclamation-triangle fa-10x"></span>
        <br /> <br />
        <p>
            Oops, something went wrong..please try again.
        </p>
        <hr />
        <a class="btn btn-outline-danger" href="@(Url.Action("Home"))">Home</a>
    </div>


